.svg-map__location:nth-child(5) {
  fill: #28c76f;
}
.svg-map__location:nth-child(6) {
  fill: #28c76f;
}
.svg-map__location:nth-child(3) {
  fill: #ff9f43;
}
.svg-map__location:nth-child(1) {
  fill: #ff9f43;
}
.svg-map__location {
  fill: #79807c;
  stroke: white;
}
.legend {
  position: relative;
  bottom: 30px;
}
.legend > ul {
  list-style: none;
}
.legend > ul > li {
  font-size: 1.4rem;
}
.card2 {
  display: flex !important;
  justify-content: center !important;
}
.legend > ul > li:before {
  content: "";
  border: 10px solid red;
  border-radius: 100%;
  margin-right: 10px;
  height: 1rem;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  font-family: FontAwesome;
}

.legend > ul > li:nth-child(2):before {
  border-color: #ff9f43;
}
.legend > ul > li:nth-child(3):before {
  border-color: #28c76f;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .legend {
    position: static;
    margin-top: 50px;
  }
  .map {
    width: 100%;
    box-sizing: content-box;
    scale: 1.1;
  }
  #map {
    display: flex;
    margin-top: 300px;
    width: 100%;
    flex-direction: column;
  }
  .legend > ul > li {
    font-size: 1rem;
    width: 200px;
  }
  .legend > ul {
    flex-direction: row;
    width: 100%;
    display: flex;
  }
  .legend > ul > li:before {
    content: "";
    border: 5px solid red;
    border-radius: 100%;
    margin-right: 10px;
    height: 1rem;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    font-family: FontAwesome;
  }
}
.clickable:hover{
  cursor: pointer;
}